<!-- Content Wrap -->
<div class="content-wrap">
    <!-- Page Header -->
    <div class="page-header">
        <div class="page-header-inner">
            <div class="page-header-content-left">
                <div class="page-header-content button-block">
                    <a href="#!/user-pkg/user/list"><img src="./public/theme/img/content/previous.svg" class="img-responsive"></a>
                </div><!-- Page Header Content -->
                <div class="page-header-content title-block">
                    <h1 class="title">{{$ctrl.action}} User</h1>
                    <p class="subtitle">
                        <a href="#!/user-pkg/user/list">
                            Users List
                        </a> /
                        {{$ctrl.action}}
                    </p>
                </div><!-- Page Header Content -->
            </div><!-- Page Header Content Left -->
        </div><!-- Container -->
    </div><!-- Page Header -->
    <!-- Page Main Content -->
    <div class="page-main-content form-content type2">
        <form id="form" autocomplete="off">
            <input type="hidden" name="id" value="{{$ctrl.user.id}}">
            <div class="page-tab-form pb-70">
                <div class="tab-form-wrap">
                    <div class="tab-form-header">
                        <div class="tab-header">
                            <div class="isotope-filters animated" data-animation="fadeInLeft" data-animation-delay="300">
                                <ul class="nav nav-pills editDetails-tabs">
                                    <li class="active"><a data-target="#general-info" role="tab" data-toggle="tab" aria-expanded="true">General Information</a></li>
                                </ul>
                            </div><!-- Filters -->
                        </div><!-- Tab Header -->
                    </div><!-- Tab Form Header -->
                    <div class="tab-form-body">
                        <div class="tab-content">
                            <!-- TAB PANEL -->
                            <div class="tab-pane fade in active" id="general-info" data-animation="fadeInUp" data-animation-delay="300">
                                <div class="tab-pane-wrap">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <lable>Name<span class="mandatory">*</span></lable>
                                                <input type="text" name="name" ng-model='$ctrl.user.name' class="form-control required" placeholder="Enter Name">
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <lable>Username<span class="mandatory">*</span></lable>
                                                <input type="text" name="username" ng-model='$ctrl.user.username' class="form-control required" placeholder="Enter Username">
                                            </div>
                                        </div>
                                        <div class="col-md-3" ng-if="$ctrl.user.id">
                                            <div class="form-group">
                                                <label>Change Password<span class="mandatory">*</span></label>
                                                <div class="common-radio-button">
                                                    <input type="radio" id="change-yes" name="change_password" ng-click="changePassword(1)" value="1" ng-checked="$ctrl.user.change_password=='1'">
                                                    <label for="change-yes">Yes</label>
                                                    <input type="radio" id="change-no" name="change_password" ng-click="changePassword(0)" value="0" ng-checked="$ctrl.user.change_password!='1'">
                                                    <label for="change-no">No</label>
                                                </div>
                                            </div><!-- Field -->
                                        </div><!-- column -->
                                        <div class="col-md-3 hide_password">
                                            <div class="form-group">
                                                <label>Password<span class="mandatory">*</span></label>
                                                <input class="form-control" type="password" Placeholder="Enter Password" name="password" id="password" ng-model="$ctrl.user.password" maxlength="8" minlength="8">
                                            </div><!-- Field -->
                                        </div><!-- column -->
                                    </div>
                                    <div class="row">
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <lable>Email</lable>
                                                <input type="text" name="email" ng-model='$ctrl.user.email' class="form-control" placeholder="Enter Email ID">
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <lable>Mobile Number</lable>
                                                <input type="text" name="contact_number" ng-model='$ctrl.user.contact_number' class="form-control" placeholder="Enter Mobile Number">
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <lable>IMEI</lable>
                                                <input type="text" name="imei" ng-model='$ctrl.user.imei' class="form-control" placeholder="Enter IMEI">
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <lable>OTP</lable>
                                                <input type="text" name="otp" ng-model='$ctrl.user.otp' class="form-control" placeholder="Enter OTP">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <lable>MPIN</lable>
                                                <input type="text" name="mpin" ng-model='$ctrl.user.mpin' class="form-control" placeholder="Enter MPIN">
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label>Roles<span class="mandatory">*</span></label>
                                                <ui-select multiple ng-model="$ctrl.user_roles" on-remove="$ctrl.removed($item, $model)" theme="bootstrap" ng-disabled="$ctrl.disabled" close-on-select="false" style="" title="Choose a role">
                                                    <ui-select-match placeholder="Select Role">{{$item.name}}</ui-select-match>
                                                    <ui-select-choices repeat="i.id as i in $ctrl.role_list | propsFilter: {name: $select.search}">
                                                        <div ng-bind-html="i.name | highlight: $select.search"></div>
                                                    </ui-select-choices>
                                                </ui-select>
                                                <input type="hidden" name="roles_id" value="{{$ctrl.user_roles}}" class="required">
                                            </div><!-- Field -->
                                        </div><!-- column -->
                                        <div class="col-md-3">
                                            <div class="form-group" ng-init="$ctrl.user.first_login=0">
                                                <label>Force Password Reset<span class="mandatory">*</span></label>
                                                <div class="common-radio-button">
                                                    <input type="radio" id="login-yes" name="force_password_reset" ng-value="1" ng-checked="$ctrl.user.force_password_reset=='1'">
                                                    <label for="login-yes">Yes</label>
                                                    <input type="radio" id="login-no" name="force_password_reset" ng-value="0" ng-checked="$ctrl.user.force_password_reset!='1'">
                                                    <label for="login-no">No</label>
                                                </div>
                                            </div><!-- Field -->
                                        </div><!-- column -->
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label>Outlets <sup class="mandatory"></sup></label>
                                                <md-select multiple ng-model="$ctrl.user_outlets" placeholder="Select Outlets" data-md-container-class="selectdemoSelectHeader" md-search-text="searchOutlets">
                                                    <md-select-header class="demo-select-header">
                                                        <input ng-model="searchOutlets" type="search" placeholder="Search.." class="demo-header-searchbox md-text" ng-keydown="$event.stopPropagation()">
                                                    </md-select-header>
                                                    <md-optgroup>
                                                        <md-option ng-value="outlet.id" ng-repeat="outlet in $ctrl.outlet_list | filter:searchOutlets">
                                                            {{outlet.name}}
                                                        </md-option>
                                                    </md-optgroup>
                                                </md-select>
                                                <input type="hidden" name="outlet_ids" value="{{$ctrl.user_outlets}}">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label>Active Status<span class="mandatory">*</span></label>
                                                <md-switch ng-model="$ctrl.switch_value" aria-label="Switch 2" ng-true-value="'Inactive'" ng-false-value="'Active'" class="md-warn">
                                                    {{ $ctrl.switch_value }}
                                                </md-switch>
                                                <input type="hidden" name="status" value="{{$ctrl.switch_value}}">
                                            </div><!-- Field -->
                                        </div><!-- Column -->
                                    </div><!-- Row -->
                                </div><!-- Tab Pane Wrap -->
                            </div><!-- Tab Pane -->
                            <div class="tab-pane-footer">
                                <div class="row">
                                    <div class="col-md-12">
                                        <!-- <a class="btn btn-grey btn-nxt">Next</a> -->
                                        <button type="submit" id="submit" class="btn btn-secondary">Submit</button>
                                    </div>
                                </div><!-- Row -->
                            </div><!-- Tab Footer -->
                        </div><!-- Tab Content -->
                    </div><!-- Tab Form Body -->
                </div><!-- Tab Form Wrap -->
            </div><!-- Page Tab Form -->
        </form>
    </div><!-- Page Main Content -->
</div><!-- Content Wrap -->